body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

header{
    background-color: #eee;
    height: fit-content;
    width: 100%;
    padding: 10px;
}

label{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: light;
    color: black;
    margin-left: 200px;
}

#gender{
    font-size: 16px;
    width: 250px;
    height: 30px;
    font-family: sans-serif;
    font-weight: light;
    color: black;
}

#sort{
   
    font-size: 16px;
    width: 250px;
    height: 30px;
    font-family: sans-serif;
    font-weight: light;
    color: black; 
}

table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 250px;
}

th{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: light;
    color: black;
}

tr{
    border-bottom: 1px solid #dddddd;
}

td{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: light;
    color: black;
    text-align: center;
}

#prev{
    font-size: 18px;
    width: 200px;
    height: 40px;
    font-family: sans-serif;
    font-weight: light;
    color: #fff;
    background-color: rgb(33, 218, 33);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 450px;
}

#next{
    font-size: 18px;
    width: 200px;
    height: 40px;
    font-family: sans-serif;
    font-weight: light;
    color: #fff;
    background-color: rgb(33, 218, 33);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

